@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&family=Work+Sans:wght@200;400;600;800&display=swap");
:root {
  font-family:"work sans";
  box-sizing: border-box;
}
*,*::before,*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


:root[data-theme="light"] {
  --text: #00020a;
  --background: #f5f6ff;
  --primary: #7083fa;
  --secondary: #bac3fd;
  --accent: #0825e2;
  --project-btn:
}
:root[data-theme="dark"] {
  --text: #f5f7ff;
  --background: #00010a;
  --primary: #05188f;
  --secondary: #020b45;
  --accent: #1d3af7;
  --project-btn:#992ad0;
}
body{
    background-color:var(--background);
    color: var(--text);
}

nav a,aside button{
    font-weight: 600;
}

/* homePage.js */
.grid-container {
  display: grid;
  background:var(--background);
  height:100vh;
  grid-template-rows: repeat(12,1fr);
  grid-template-columns: repeat(12,1fr);
}

/* sidebar.js */
.grid-container aside {
  grid-column: 1 / span 3;
  grid-row: 1;
  background-color: var(--primary);
  display: grid; 
  grid-template-rows: repeat(12,1fr);
  height: 100vh;
}
aside button{
    border: none;
    border-radius: 8px;
    background-color: var(--project-btn);
    padding:10px 20px;
    color: var(--text);
    width: calc(100% - 60px);
    margin: 40px auto;
    cursor:pointer;
    transition: 0.1s ease-in-out;
}
aside .projects{
    display: flex;
    flex-direction:column;
}
aside .projects h2{
    margin:0 auto;
    margin-bottom:10px;
}

aside .projects button{
    background-color: var(--accent);
    margin: 10px auto;
}

aside button:hover{
    background-color: var(--secondary);
    box-shadow: 3px 3px 3px rgb(0, 0, 0,0.025);
}
aside button:active{
    background-color:var(--background);
    box-shadow:none;
}


/* header.js */
.div-container{
  grid-column: span 9;
  display: grid;
  grid-template-rows: repeat(12,1fr);
}
.main-grid{
    background-color: var(--secondary);
    grid-row: span 11;
    margin-top:10px;
    padding-top: 10px;
    height: calc(100vh - 55px); /* Subtracted 100px to account for header and any top margin */
    overflow-y: auto; /* Add vertical scrollbar if content overflows */
}
.grid-container header {
    width: 100%;
    /* background-color: var(--secondary); */
    background-color: #015b8c;
}

.grid-container header nav {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top:40px;
}
.grid-container header nav a{
    cursor:pointer;
    text-transform: capitalize;
    transition:0.3s  ease-in-out;
    font-size: 1.2rem;
}

.grid-container header nav a.active{
    text-decoration: underline;
    text-decoration-color: lightcoral;
    color:var(--text);
    text-decoration-thickness: 3px;
}

/* main */
.main-container{
    background-color: var(--secondary);
    height:100%;
}
.cards{
    width:100%;
    display:grid;
    grid-template-rows: 1fr;
    gap:16px;
    max-width: 1000px;
    margin:0 auto;
}
.card{
    display: flex;
    width:100%;
    justify-content:space-evenly;
    padding:30px;
    background-color: var(--primary);
    border-left: 5px solid yellow;
    border-radius: 15px;
    box-shadow:3px 3px 3px rgb(0, 0, 0,0.25);
    transition: 0.2s ease-in-out;
}
.card:hover{
    transform: scale(1.01);
}
.card input[type="checkbox"]{
    outline:none;
    border: none;    
}

.card button{
    border:none;
    outline: none;
    border-radius:10px;
    padding:5px 10px;
    background:var(--accent);
    color: var(--background);
    font-weight: 600;
}

.checked>*:nth-child(1),.checked>*:nth-child(4){
    text-decoration: line-through;
    text-decoration-color:black;
    text-decoration-thickness: 3px;
}
.add-project-div{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    display: flex;
    backdrop-filter: blur(10px) grayscale() brightness(0.5);
}

.add-project-form{
    position: relative;
    padding:60px 40px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.closeBtn{
    position:absolute;
    border:none;
    background:none;
    color:red;
    right:20px;
    top:40px;
    font-size:2rem;
    font-weight:600;

}